@import "../../Pallette.css";

/*-------------------------------------------------------------------------------- \
|                                 FOOTER STYLING                                   |
\-------------------------------------------------------------------------------- */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 25px;
  background: var(--black);
  color: var(--white);
  bottom: 0;
  width: 100%;
}

.footer-text-container {
  font-size: smaller;
}

.footer-text {
  font-weight: 400;
}

.footer-triangle-container {
  -webkit-transform: rotate(14deg);
}

.social-icons-container {
  display: flex;
  gap: 50px;
}
