/*-------------------------------------------------------------------------------- \
|                                 COLOR PALLETTE                                 |
\-------------------------------------------------------------------------------- */

:root {
  /* Main */
  --black: #1e2029;
  --lime: #e0ff00;
  --white: #ffffffff;
  --grey: #e3e3e3;
  --pink: #e556fe;
  --lightblue: #34b3f5;
  --cyan: #28d5ee;
  /* Alternative */
  --darkblue: #1d2a49;
  --darkgrey: #576987;
  --blue: #0060ff;
  --purple: #4000ff;
  --green: #00ff00;
}
